$link-header-text-color: #00234b;
$link-header-background-color: #fff04b;
$link-hover-text-color: #FFFFFF;
$link-hover-background-color: #00234b;

$shape-color: #00e6af;
$page-link-color: #2bbfed;

$general-background-color: #ff6f66;
