* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
