* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

img {
  width: auto;
  height: auto;
}

body {
  background-color: $general-background-gray;
}

html, body {
  height: 100%;
}

#root {
  min-height: calc(100% - 83px);
  position: relative;
  padding-bottom: 83px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.error {
  color: red;
}

b {
  font-weight: bold;
}
