.appointment-scroll {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  background-color: white;
  position: sticky;
  top: 75px;

  div {
    height: 60px;
    width: 98px;
    margin-right: 10px;
    margin-left:10px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    line-height: 60px;
    font-weight: bold;
  }

  button {
    width: 40px;
    background-color: $navy-blue;
    color: white;
  }
}

.right-button {
    margin-right: 7px;
}

.doc-appointments {
  margin: 10px;
  width: 540px;
  height: 340px;
  background-color: white;
  border: solid black 2px;

  h3, p {
    text-align: center;
  }

  h3 {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: $navy-blue;
    margin: 10px;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
    height: 20px;
  }

  .doc-scroll-bar {
    border-top: solid black 1px;
    height: 40px;

    div {
      display: inline-block;
    }

    button {
      border-radius: 0;
      width: 30px;
      height: 40px;
      display: inline-block;
      text-align: center;
      padding: 0;
    }
  }

  button {
    background-color: $navy-blue;
    color: white;
  }
}

.doc-appointments-days {
    width: 100px;
    margin-right: 10px;
    margin-left:10px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}
