.appointment-scroll {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  background-color: white;
  position: sticky;
  top: 75px;

  div {
    height: 60px;
    width: 98px;
    margin-right: 10px;
    margin-left:10px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    line-height: 60px;
    font-weight: bold;
  }

  button {
    width: 40px;
    background-color: $link-hover-background-color;
    color: $link-hover-text-color;
  }

}

.doc-appointments {
  
}
