.appointment-scroll {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-bottom: dotted black 1px;
  position: sticky;
  top: 0;

  div, button {
    text-align: center;
  }

  div {
    height: 40px;
    width: 98px;
    margin-right: 10px;
    margin-left:10px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    line-height: 40px;
    font-weight: bold;
  }

  button {
    width: 30px;
    padding: 0;
    border-radius: 0;
    background-color: $navy-blue;
    color: white;
  }
}

.doc-appointments {
  margin: 10px;
  width: 540px;
  height: 340px;
  background-color: white;
  border: solid black 2px;

  h3, p {
    text-align: center;
  }

  h3 {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: $navy-blue;
    margin: 10px;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
    height: 20px;
  }

  .doc-scroll-bar {
    border-top: solid black 1px;
    height: 40px;

    div {
      display: inline-block;
    }

    button {
      border-radius: 0;
      width: 30px;
      height: 40px;
      display: inline-block;
      text-align: center;
      padding: 0;
    }
  }

  button {
    background-color: $navy-blue;
    color: white;
  }
}

.doc-appointments-days {
    width: 100px;
    margin-right: 10px;
    margin-left:10px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 960px) {
  .doc-appointments {
    width: 420px;

    .doc-scroll-bar {
      div:last-of-type {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .doc-appointments {
    width: 300px;

    .doc-scroll-bar {
      div:nth-last-of-type(2) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .appointment-scroll {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .appointment-scroll {
    div:last-of-type {
      display: none;
    }
  }
}