.booking-form {
  margin: auto;
  background-color: white;
  color: $navy-blue;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
  }

  p, label {
    font-size: 16px;
    margin: 10px;
  }

  label {
    font-weight: bold;
  }

  textarea {
    height: 100px;
    width: 90%;
    border: solid black 1px;
    margin: 10px auto;
  }

  input[type="submit"] {
    margin: 10px auto;
    width: 90%;
    background-color: $zoc-yellow;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    border-radius: 10px;
  }

  input[type="submit"]:hover {
    background-color: $navy-blue;
    color: white;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
  }
}

.review-form {
  @extend .booking-form;

  .radio-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .radio-label {
    font-size: 18px;
  }

  div {
    margin: 5px;
  }
}

@media screen and (max-width: 501px) {
  .booking-form {
    width: 100%;
  }
}