.booking-form {
  margin: auto;
  background-color: white;
  color: $navy-blue;
  max-width: 600px;

  h3 {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
  }

  p, label {
    font-size: 24px;
    margin: 10px;
  }

  label {
    font-weight: bold;
  }

  textarea {
    height: 100px;
    width: 95%;
    border: solid black 1px;
    margin: 10px 0 0 10px;
  }

  input[type="submit"] {
    margin: 10px 0 10px 0;
    width: 100%;
    background-color: $zoc-yellow;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
  }

  input[type="submit"]:hover {
    background-color: $navy-blue;
    color: white;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
  }
}

.review-form {
  @extend .booking-form;

  .radio-display { 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .radio-label {
    font-size: 18px;
  }

  div {
    margin: 5px;
  }
}