.docTitle {
  margin: 20px;
  color: $navy-blue;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.docMap {
  height: 150px;
  color: $navy-blue;
  border: solid 1px $input-border-gray;
}

.docProfile {
  color: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin: 10px;

  h3 {
    margin: 20px 10px;
    font-size: 20px;
    font-weight: bold;
  }

  label {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  div {
    margin: 10px 20px;
  }
}

.doc-flex {
  display: flex;
  justify-content: space-evenly;
}

.review-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.reviews-container {
  width: 80%;
  margin: 10px auto;
}

.review-container {
  border: dotted $navy-blue 1px;
}

.review-container-ratings {
  display: flex;
  justify-content: space-around;

  div {
    margin: 10px;
  }

  label, p {
    margin: 0 10px;
  }
}

.stars {
  color: red;
}

.review-paragraph {
  margin: 10px 10%;
}

.doc-pic {
  width: 120px;
  flex: auto;
  background-color:  $sky-blue;
  line-height:110px;
  text-align: center;
}

.doc-info {
  width: 240px;
  flex: auto;
  color: $navy-blue;
  margin-left: 10px;

  a {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  div {
    font-size: 18px;
    margin-bottom: 20px;
  }

  section div {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.doc-schedule {
  height: 220px;
  background-color: $zoc-yellow;

  ul:first-of-type {
    margin-left: 40px;
  }

  ul:last-of-type {
    margin-right: 40px;
  }

  ul {
    width: 100px;
    margin: 10px;
    display: inline-block;

    li {
      background-color: $navy-blue;
      color: white;
      height: 40px;
      border: solid black 1px;
      text-align: center;
      line-height: 40px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
}
