.docTitle {
  height: 200px;
  color: $navy-blue;
  padding-left: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  div {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.docMap {
  height: 150px;
  color: $navy-blue;
  border: solid 1px $input-border-gray;
}

.docProfile {
  color: $navy-blue;
  width: 820px;
  display: inline-block;

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
  }

  label {
    font-size: 20px;
    font-weight: bold;
  }
  
  div, ul li {
    margin: 10px;
  }
}

.doc-pic {
  width: 120px;
  flex: auto;
  background-color:  $sky-blue;
  line-height:110px;
  text-align: center;
}

.doc-info {
  width: 240px;
  flex: auto;
  color: $navy-blue;
  margin-left: 10px;

  a {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  div {
    font-size: 18px;
    margin-bottom: 20px;
  }

  section div {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.doc-schedule {
  display: flex;
  justify-content:center;
  overflow-y: scroll;
  height: 100%;
  background-color: $zoc-yellow;

  ul {
    width: 100px;
    margin: 10px;

    li {
      background-color: $navy-blue;
      color: white;
      height: 40px;
      border: solid black 1px;
      text-align: center;
      line-height: 40px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
}

.doc-inline { // prevents element from wrapping around
  white-space: nowrap;
}

.doc-reviews {
  width: 820px;
}

.review-container {
  border-top: solid black 1px;
  min-height: 50px;
  margin-top: 20px;
  padding-top: 10px;
}

.review-container-date {
  width: 20%;
  padding-left: 20px;
  display: inline-block;
}

.review-container-data {
  width: 75%;
  display: inline-block;
}

.review-container-ratings {
  display: flex;
  justify-content: space-around;
}

.stars {
  color: red;
}