.docTitle {
  margin: 20px;
  color: $navy-blue;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.docMap {
  height: 150px;
  color: $navy-blue;
  border: solid 1px $input-border-gray;
}

.docProfile {
  color: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin: 10px;

  h3 {
    margin: 20px 10px;
    font-size: 20px;
    font-weight: bold;
  }

  label {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  div {
    margin: 10px 20px;
  }
}

.doc-flex {
  display: flex;
  justify-content: space-evenly;
}

.review-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.reviews-container {
  width: 80%;
  margin: 10px auto;
}

.review-container {
  border: dotted $navy-blue 1px;
}

.review-date {
  display: inline-block;
  padding: 10px;
}

.review-container-ratings {
  display: flex;
  justify-content: space-around;

  div {
    margin: 10px;
    width: 150px;
  }

  label, p {
    margin: 0 10px;
  }
}

.stars {
  color: red;
}

.review-paragraph {
  margin: 10px 10%;
}

.doc-pic {
  background-color:  $sky-blue;
  width: 220px;
}

.doc-info {
  width: 240px;
  height: 220px;
  color: $navy-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  border-right: solid black 1px;
  border-left: solid black 1px;

  a {
    font-size: 20px;
    font-weight: bold;
  }

  div {
    font-size: 16px;
    margin: 10px;
  }
}

.doc-profile-schedule {
  height: 220px;
  background-color: $zoc-yellow;
}

.doc-schedule {
  background-color: $zoc-yellow;
  vertical-align: top;

  ul:first-of-type {
    margin-left: 40px;
  }

  ul:last-of-type {
    margin-right: 40px;
  }

  ul {
    width: 100px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;

    li {
      background-color: $navy-blue;
      color: white;
      height: 40px;
      border: solid black 1px;
      text-align: center;
      line-height: 40px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 16px;
    }

    div {
      background-color: #8C0000;
      color: white;
      height: 20px;
      text-align: center;
      vertical-align: center;
      padding: 10px;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

@media screen and (max-width: 960px) {
  .doc-profile-schedule .doc-schedule {
    ul:last-of-type {
      display: none;
    }

    ul:nth-last-of-type(1) {
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 840px) {
  .doc-profile-schedule .doc-schedule {
    ul:nth-last-of-type(2) {
      display: none;
    }

    ul:nth-last-of-type(3) {
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 780px) {
  .doc-flex {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 625px) {
  .review-container-ratings {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1500px) {
  .doc-pic {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .doc-info {
    align-items: center;
    height: auto;
    width: 418px;

    div {
      margin: 5px 10px 10px 10px;
    }
  }
}