.head-home {
  width: 1280px;
  height: 108px;
  margin-left: 130px;
  background-color: transparent;
  color: $navy-blue;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 44px;
    text-decoration: none;
    font-weight: bold;
  }

  button, a {
    font-size: 20px;
    background-color: $zoc-yellow;
    color: $navy-blue;
    margin-right: 130px;
    padding: 10px;
  }

  button:hover, a:hover {
    text-decoration: underline;
    color: white;
    background-color: $navy-blue;
    cursor: pointer;
    cursor: hand;
  }
}

.home {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  width: 1150px;
  top: 210px;
  left: 10%;
  color: $navy-blue;
}


.head {
  height: 66px;
  background-color: $zoc-yellow;
  color: $navy-blue;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button, a {
    cursor: pointer;
    cursor: hand;
    padding: 10px;
    background-color: $navy-blue;
    color: white;
    margin-left: 100px;
  }

  a h1 {
    font-size: 28px;
    margin-left: 130px;
    background-color: $navy-blue;
    color: white;
    padding: 10px;
    cursor: pointer;
    cursor: hand;
  }
  
  .no-extra-blue {
    background-color: transparent;
  }
}

a {
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.header-profile {
  background-color: $navy-blue;
  color: white;
  padding: 10px;
}
