.head-home {
  width: 1280px;
  height: 108px;
  margin-left: 130px;
  background-color: transparent;
  color: $link-header-text-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a h2 {
    font-size: 44px;
    text-decoration: none;
    font-weight: bold;
  }

  button {
    font-size: 20px;
    background-color: transparent;
    margin-right: 130px;
  }

  a {
    margin-right: 130px;
    font-size: 20px;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
  }
}

.home {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  width: 1150px;
  top: 210px;
  left: 10%;
  color: $link-header-text-color
}


.head {
  height: 66px;
  background-color: $link-header-background-color;
  color: $link-header-text-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin-right: 130px
  }

  a h1 {
    font-size: 28px;
    font-weight: bold;
    margin-left: 130px;
  }
}

a {
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}
