.patient-appointments {
  margin-bottom: 30px;

  h1, h2, li {
    color: $navy-blue;
  }
  
  button {
    color: white;
  }

  h1 {
    font-size: 40px;
    margin: 30px;
  }

  h2 {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
  }

  li {
    height: 120px;
    margin: 20px;
  }

  button {
    background-color: $navy-blue;
    padding: 10px;
  }

  button:hover {
    color: $navy-blue;
    background-color: white;
    cursor: pointer;
    cursor: hand;
    border: solid 1px $navy-blue;
  }

  a {
    @extend button;
    display: inline-block;
    font-size: 16px;
  }
}

.info-title {
  font-weight: bold;
}

.patient-review-info {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  height: 100px;
  background-color: $zoc-yellow;
}

.patient-appointment-info {
  @extend .patient-review-info;
  width: 340px;
  background-color: $sky-blue;
}

.review-body {
  display: inline-block;
  height: 100%;
}

.review-buttons {
  @extend .review-body;
  vertical-align: top;
  margin-left: 20px;

  div {
    display: flex;
    flex-direction: column;
  }
}

.remove-review-margin {
  margin-bottom: 20px;
}