.patient-appointments {
  margin-bottom: 30px;

  h1, h2, li {
    color: $navy-blue;
  }
  
  button {
    color: white;
  }

  h1 {
    font-size: 40px;
    margin: 30px;
  }

  h2 {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
  }

  li {
    margin: 20px;
  }

  button {
    background-color: $navy-blue;
    padding: 10px;
  }

  button:hover {
    color: $navy-blue;
    background-color: white;
    cursor: pointer;
    cursor: hand;
    border: solid 1px $navy-blue;
  }

  a {
    @extend button;
    display: inline-block;
    font-size: 16px;
  }
}

.info-title {
  font-weight: bold;
}

.appointment-data {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.patient-review-info {
  padding: 10px;
  vertical-align: top;
  background-color: $zoc-yellow;
  width: 350px;
}

.patient-appointment-info {
  @extend .patient-review-info;
  background-color: $sky-blue;
}

.doctor-links {
  margin-left: 10px;

  a {
    margin: 20px;
  }
}

.review-body {
  display: inline-block;
  text-align: right;
}

.top-margin {
  margin-top: 10px;
}

.left-align {
  text-align: left;
}

.write-review-button {
  align-self: center;
  margin-left: 30px;
}

.review-buttons {
  @extend .review-body;
  vertical-align: top;
  margin-left: 20px;

  div {
    display: flex;
    flex-direction: column;
  }
}

.remove-review-margin {
  margin-bottom: 20px;
}