.patient-appointments {
  h1, h2, li, button {
    color: $navy-blue;
  }

  h1 {
    font-size: 40px;
    margin: 30px;
  }

  h2 {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
  }

  li {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
  }

  button {
    background-color: $zoc-yellow;
    padding: 10px;
  }

  button:hover {
    color: white;
    background-color: $navy-blue;
    cursor: pointer;
    cursor: hand;
  }
}
