main { // needed to dynamically resize search on home page
  display: flex;
  flex-direction: column;
}

.search-home {
  font-size: 20px;
  color: $navy-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto; // Expands element to fill home page between header and footer

  label {
    margin: 10px;
    background-color: white;
    padding: 10px;
  }

  input, select {
    height: 50px;
    line-height: 40px;
    margin: 10px;
    border: solid black 2px;
    background-color: white;
  }

  #specialty-select {
    width: 200px;
    padding-left: 30px;
  }

  #address {
    padding-left: 30px;
    width: 360px;
  }

  input[type="submit"] {
    background-color: $zoc-yellow;
    text-align: center;
    font-weight: bold;
    height: 54px;
    width: 54px;
    padding: 5px;
  }

  input[type="submit"]:hover {
    background-color: $navy-blue;
    color: white;
    cursor: pointer;
    cursor: hand;
  }
}

.search-bar {
  @extend .search-home;
  height: 75px;
  background-color: $zoc-yellow;
  position: sticky;
  top: 0px;
  white-space: nowrap;
  z-index: 5;

  input {
    margin-top: 12px;
  }

  input[placeholder="Specialty"] {
    margin-left: 130px;
  }

  input[type="submit"] {
    background-color: $navy-blue;
    color: white;
    cursor: hand;
  }
}

.search-master {
  white-space: nowrap;
}

.search-results {
  margin-left: 70px;
  width: 960px;
  display: inline-block;
  vertical-align: top;
}

.index-item {
  height: 210px;
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.doc-search-schedule {
  width: 420px;

  section {
    height: 210px;
  }
}
