main { // needed to dynamically resize search on home page
  display: flex;
  flex-direction: column;
}

.search-home {
  font-size: 20px;
  color: $navy-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto; // Expands element to fill home page between header and footer

  background-image: image-url("health.jpeg");
  background-size: cover;

  input, label, select {
    margin: 10px 0 10px 0;
  }

  label {
    background-color: white;
    padding: 10px;
    height: 30px;
    line-height: 30px;
  }

  input, select {
    height: 50px;
    line-height: 40px;
    margin-right: 10px;
    background-color: white;
  }

  #specialty-select {
    width: 200px;
    padding-left: 30px;
  }

  #address {
    padding-left: 30px;
    width: 360px;
  }

  input[type="submit"] {
    background-color: $zoc-yellow;
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding: 5px;
  }

  input[type="submit"]:hover {
    background-color: white;
    color: $navy-blue;
    cursor: pointer;
    cursor: hand;
  }
}

.search-bar {
  @extend .search-home;
  flex: none;
  height: 75px;
  position: sticky;
  top: 0px;
  white-space: nowrap;
  z-index: 5;
}

.search-master {
  white-space: nowrap;
}

.search-results {
  margin-left: 70px;
  width: 960px;
  display: inline-block;
  vertical-align: top;
}

.index-item {
  height: 210px;
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.doc-search-schedule {
  width: 420px;

  section {
    height: 210px;
  }
}

#loading {
  margin: auto;

  p {
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 24px;
  }
}

#no-results {
  @extend #loading;

  svg {
    width: 350px;
    display: block;
    margin: auto;
  }

  p {
    margin: 10px 0 10px 0;
  }
}

.animate-logo {
  animation: logo 3s linear infinite;
}

@keyframes logo {
  0% {
    transform: rotate(-360deg);
  }
}