.session {
  color: $navy-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  h3 {
    font-size: 36px;
  }

  input[type="submit"]:hover {
    background-color: $navy-blue;
    color: white;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
  }

  input {
    padding-left: 10px;
    width: 502px;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 50px;
    border: solid $input-border-gray 1px;
    font-size: 16px;
  }

  input {
    border: solid black 1px;
  }

  input[type="submit"] {
    padding-left: 0;
    width: 512px;
    text-align: center;
    background-color: $zoc-yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid $input-border-gray 1px;
  }
}

.sign-up {
  @extend .session;

  form input {
    width: 630px;
  }

  form input[type="submit"] {
    width: 640px;
  }

  form span input {
    width: 310px;
  }
}

#demo {
  width: 512px;
  height: 50px;
  text-align: center;
  background-color: $zoc-yellow;
  margin: 0 auto;
  margin-bottom: 20px;
  border: solid $input-border-gray 1px;
}

#demo:hover {
  background-color: $navy-blue;
  color: white;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

