<!DOCTYPE html>
<html>
  <head>
    <title>ZocDocClone</title>
    <%= csrf_meta_tags %>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlQpAcsp-Hrf3d9oABqzInGNs7n82pXvA" charset="utf-8"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
